@charset "UTF-8";

.hero {
  position: fixed;
  inset: 0;
}

.hero__body {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  color: #fff;
}

.hero__title {
  margin-block: fluid(2.5rem 4rem) fluid(24px 32px 768px 1024px);
  font-family: var(--font-sans-en);
  font-size: fluid(40px 80px);
  letter-spacing: var(--tracking-widest);
}

.hero__text {
  margin-block-start: 1.5em;
  font-size: clamp(0.75rem, 2vw, 1rem);
  letter-spacing: 0.06em;
}

.hero__figure {
  block-size: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
